* {
    margin: 0;
}

body {
    font-size: 2.2rem;
    padding: 5%;
    width: 100%;
    height: 100%;
}

main {
    max-width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.kanji-header {
    font-size: 7rem;
    margin-bottom: 5rem;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

h1 {
    font-weight: 400;
    font-size: inherit;
    margin-bottom: 2.5rem;
}

.keyword-input {
    font-family: var(--secondary-font);
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    padding: 1rem 0.5rem;
    margin-bottom: 2.5rem;
    outline: none;
}

.keyword-input::placeholder {
    font-family: var(--secondary-font);
    font-weight: 500;
    opacity: 0.5;
    color: grey;
}

.keyword-submit {
    background-color: #282828ff;
	color: inherit;
	font: inherit;
	padding: 1rem 4rem;
    border-radius: 10px;
	cursor: pointer;
	outline: inherit;
    user-select: none;
}

.keyword-submit:hover {
    background-color: lightblue;
    color: #282828ff;
}

@media (min-width: 600px) {
    body {
        font-size: 2.5rem;
        margin: 0;
        width: 100%;
        height: 100%;
    }

    .kanji-header {
        font-size: 8rem;
        margin-bottom: 7rem;
    }

    h1 {
        margin-bottom: 3.5rem;
    }

    .keyword-input {
        font-size: 2.5rem;
        margin-bottom: 3.5rem;
    }

    .keyword-submit {
        padding: 1.2rem 4rem;
    }
}

@media (min-width: 1000px) {
    body {
        font-size: 2.7rem;
    }

    .kanji-header {
        font-size: 10rem;
        margin-bottom: 9rem;
    }
}