* {
    margin: 0;
}

body {
    width: 90%;
    height: 90%;
    font-size: 1.5rem;
    padding: 5%;
}

main {
    max-width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
}

.back-btn {
    display: none;
}

.card-keyword {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 500;
}

.result-container {
    width: 100%;
    max-width: 800px;
    max-height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 2fr 4fr;
    grid-template-areas: 
        "pos kanji"
        "strokes kanji"
        "primitives ."
        "story story";
    color: inherit;
    border: 3px solid;
    border-radius: 10px;
    padding: 5%;
}

.card-pos {
    grid-area: pos;
    letter-spacing: .10rem;
}

.card-kanji {
    grid-area: kanji;
    font-size: 6rem;
    justify-self: center;
}

.card-strokes {
    grid-area: strokes;
    font-weight: 500;
}

.card-primitives {
    grid-area: primitives;
    font-weight: 500;
}

.card-story {
    grid-area: story;
}

@media (min-width: 400px) {
    .card-kanji {
        font-size: 8rem;
    }   
}

@media (min-width: 600px) {
    body {
        font-size: 1.7rem;
        margin: 0;
        width: 100%;
        height: 100%;
    }

    .card-keyword {
        margin-bottom: 2rem;
    }

    .result-container {
    width: 70%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr 1fr 2fr 2fr;
    grid-template-areas:
        "pos . kanji kanji"
        "strokes . kanji kanji"
        "primitives . kanji kanji"
        "story story story story";
    border: 5px solid;
    padding: 4rem;
    }

    .card-kanji {
        font-size: 10rem;
    }
}

@media (min-width: 1000px) {
    body {
        font-size: 2rem;
    }
    
    .card-kanji {
        font-size: 12rem;
    }
}